@{
    //page title
    ViewBag.Title = T("Admin.Barion.Payment.Title.Help").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Barion.Help");

    Layout = "_AdminLayout";
}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @T("Barion.Payment.Description.Help")
        </div>
    </div>
</div>