@{
    //page title
    ViewBag.Title = T("Admin.Barion.Payment.Title.Help").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Barion.Help");

    Layout = "_AdminLayout";
}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>NopCommerce.Plugin.Payment.Barion</h1>
            The Barion plugin enables integration between the nopCommerce system and the Barion payment gateway.

            If you find any bug or need support feel free to ask. Follow plugin on GitHub. <a href="https://github.com/TomasHorvath/NopCommerce.Plugin.Payment.Barion">here</a> (https://github.com/TomasHorvath/NopCommerce.Plugin.Payment.Barion)



        </div>
    </div>
</div>