@model Nop.Plugin.Payments.Barion.Models.PaymentStatusModel

@if (Model.IsPaid)
{
    <div class="title">
        <strong>@T("Barion.Component.PaymentStatus.Sucessful")</strong>
    </div>
    <br />
}
else
{
    @*<div class="title">
        <strong>@T("Barion.Component.PaymentStatus.NotPaid")</strong>
    </div>*@
}